* {
  --height-img: 100px
}

body {
  background: #bdc3c7;
 background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
background: linear-gradient(to right, #2c3e50, #bdc3c7); 

}
.img-nav {
  width: var(--height-img);
  margin: 0 auto;
}

.dark {
  background-color: #000;
  color: #fff;
}
